<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/headerLinks') %>
		<title>Certifier</title>
	</head>
	<body>
		<%- include('../partials/navbar') %>

		<div class="container-fluid mainHeader">
			<div class="row">
				 <div class="col-md-10 col-12 mx-auto">
					<div class="row">
						<div class="col-md-6 col-12 main-header-left">
							<h1><span class="textColor">Issue</span> and <span class="textColor">send</span> Certificates to Anyone</h1>
							<p>Everything you need to issue high quality certificates. Powerful features like certificate builder, automatic emails with PDF certificates.</p>
							<a href="/instructions"><button>Instructions</button></a>
						</div>
						<div class="col-md-6 col-12 main-header-right">
							<div class="image01Div">
								<img src="/images/certificateImg.png" class="image01">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('../partials/footer') %>
	</body>
	<%- include('../partials/footerLinks') %>
</html>