<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/headerLinks') %>
        <title>View Sheet</title>
    </head>
    <body>
        <%- include('../partials/navbar') %>

        <div class="container py-3">
            <div class="row text-center instructions mb-3">
                <div class="col-lg-8 mx-auto">
                    <h1>INSTRUCTION</h1>
                    <p class="lead mb-0">Steps to follow in order to use this website</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <ul class="timeline">
                        <li class="timeline-item rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0 step">Step 1:</h2>
                            <p class="mt-2 stepdesc">Respective User who is organizing the Training have to first Register himseflf/herself in our Portal.</p>
                        </li>
                        <li class="timeline-item rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0 step">Step 2:</h2>
                            <p class="mt-2 stepdesc">Then he/she have to Login with registered Email & Password.</p>
                        </li>
                        <li class="timeline-item rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0 step">Step 3:</h2>
                            <p class="mt-2 stepdesc">User who are organizing the training want to make a Google Form where Student/Candidate can fill there Details then he/she have to make a Google Sheet & link that Google sheet with our Application Service Email which is <b>informations@sunlit-precinct-321316.iam.gserviceaccount.com</b>.</p>
                        </li>
                        <li class="timeline-item rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0 step">Step 4:</h2>
                            <p class="mt-2 stepdesc">After Login, User will find a G-Sheet Button available in Add Page where he/she have to fill all the details with <b>Google ID</b> which is the Google Sheet ID.</p>
                        </li>
                        <li class="timeline-item rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0 step">Step 5:</h2>
                            <p class="mt-2 stepdesc">After that he/she have to upload a One Page Template of Certificate in PDF Form and set all the Properties of the text.</p>
                        </li>
                        <li class="timeline-item rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0 step">Step 6:</h2>
                            <p class="mt-2 stepdesc">Then they have to add the Email Information like Subject, Body, & the Emails which will be present in CC & BCC Section.</p>
                        </li>
                        <li class="timeline-item rounded ml-3 p-4 shadow">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0 step">Step 7:</h2>
                            <p class="mt-2 stepdesc">After the completion of the Course/Training Organizer can send Email of Certificate to all Respective Participants by clicking on Send Email Button which is present in View Sheet Page.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/footerLinks') %>
</html>